.hero-list-banner{
    background: url(../img/hero_banner.png) no-repeat center;
    background-size: cover;
    height: 50vh;
}


.card{
    margin-bottom: 15px;
    width: 18rem;
}


@media(max-width:990px){
    .card{
        width: 100%;
    }
}